<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="jumbotron">
    <h1>Velkommen</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Titel</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
    </div>
    <br />
    <div class="list-group">
      <a target="_blank" href="https://angular.io/tutorial" class="list-group-item">
        <h4 class="list-group-item-heading">Tour of Heroes</h4>
      </a>
      <a target="_blank" href="https://github.com/angular/angular-cli/wiki" class="list-group-item">
        <h4 class="list-group-item-heading">CLI Documentation</h4>
      </a>
      <a target="_blank" href="http://angularjs.blogspot.ca/" class="list-group-item">
        <h4 class="list-group-item-heading">Angular blog</h4>
      </a>
    </div>
  </div>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>
</nav>
-->
<h1>Angular Router</h1>
<nav>
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="about" routerLinkActive="active">About</a>
  <a routerLink="courses" routerLinkActive="active">Courses</a>
</nav>
<br/>
<router-outlet></router-outlet>
